
body {
  margin : 0;
  background-color: #303030;
  color : white
}
.title {
  text-align: center;
  margin-top: 150px;
}
.title-sub {
  text-align: center;

}.food {
  margin: 20px auto;
  width: 200px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}
.navbar {
  background: white;
  padding: 1em;
}

.navbar a {
  color : black;
  font-weight: 100;
  margin-right: 1em;
  text-decoration: none;
  font-size: 1.5em;
} 

.food-img {
  width : 100%;
  height: auto;
}

.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
} 
.cart-item-title{
  font-weight: bolder;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
}
.cart-layout {  
  margin-top: 3em;
  margin-left: 15em;
  width: 200px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.cart-component {

  margin-left: 15em;
  color: white;
}

.btnBox {
  margin-left: 1em;
}

.btn {
  size: 20px;
  border-radius: 5px;
  width: 25px;
  height: 30px;
  background: white;
  color: black;

}